Repository Pylons/pyramid_openapi3: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, autoflake, flake8, black, yamllint

pyupgrade:
  name: pyupgrade
  description: Upgrades syntax for modern versions of Python.
  entry: pyupgrade
  language: system
  args:
  - --py310-plus

isort:
  name: isort
  description: A Python utility that sorts imports alphabetically.
  entry: isort
  language: system

autoflake:
  name: autoflake
  description: Removes unused imports and unused variables from Python code.
  entry: autoflake
  language: system

flake8:
  name: Flake8
  description: Python Style Guide Enforcement.
  entry: flake8 --config .flake8
  language: system

black:
  name: Black
  description: Uncompromising Python code formatter.
  entry: black
  language: system

yamllint:
  name: yamllint
  description: Lint YAML files.
  entry: yamllint
  language: system

`openapi-core 0.23.0` moved to `jsonschema-path 0.4`, which [replaced `SchemaPath.contents()` with `read_value()`](https://github.com/p1c2u/jsonschema-path/pull/225).
  README.md
  examples/splitfile/tests.py
  examples/todoapp/tests.py
  pyproject.toml
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_extract_errors.py
  uv-oldest.lock
  uv.lock
Due: pyupgrade, isort, autoflake, flake8, black

release 0.22.0
  pyproject.toml
  uv-oldest.lock
  uv.lock
Due: none

fix(dev): minor leftovers from tool migration
  CONTRIBUTING.md
  shell.nix
Due: none

chore(actions): split up ci from release
  .github/actions/nix-shell/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/zizmor.yml
Due: yamllint

chore(deps): set up a monthly dependabot updater
  .github/dependabot.yml
Due: yamllint

chore(ci): update and pin all actions
  .github/actions/nix-shell/action.yml
  .github/workflows/ci.yml
Due: yamllint

chore: revert tombi formatting for uv lockfiles
  .pre-commit-config.yaml
  Makefile
  uv-oldest.lock
  uv.lock
Due: yamllint

chore: revert tombi formatting for uv lockfiles (#321)
  .pre-commit-config.yaml
  Makefile
  uv-oldest.lock
  uv.lock
Due: yamllint

chore(ci): update and pin all actions (#320)
  .github/actions/nix-shell/action.yml
  .github/workflows/ci.yml
Due: yamllint

fix(dev): set an explicit path for uv project env
  .gitignore
  shell.nix
Due: none

fix: server-prefix respects path segment boundaries
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_app_construction.py
Due: pyupgrade, isort, autoflake, flake8, black

feat: Add opt-in route_json param to serve the spec as JSON
  README.md
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black

fix: server-prefix respects path segment boundaries (#322)
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_app_construction.py
Due: pyupgrade, isort, autoflake, flake8, black

feat: support OpenAPI 3.2 specs
  README.md
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_validation.py
Due: pyupgrade, isort, autoflake, flake8, black

Serve the spec as JSON by default, drop the opt-in param
  README.md
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_routes.py
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black

feat: serve the spec as JSON (#323)
  README.md
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_routes.py
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black

feat: support OpenAPI 3.2 specs (#324)
  README.md
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_validation.py
Due: pyupgrade, isort, autoflake, flake8, black

test: express `servers` behaviors via tests
  pyramid_openapi3/tests/test_routes.py
Due: pyupgrade, isort, autoflake, flake8, black

docs
  README.md
Due: none

test: express `servers` behaviors via tests (#325)
  README.md
  pyramid_openapi3/tests/test_routes.py
Due: pyupgrade, isort, autoflake, flake8, black

Path conditions:
  pyupgrade: any of: \.py$
  isort: any of: \.py$
  autoflake: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
