Repository Pylons/pyramid_openapi3: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, autoflake, flake8, black, yamllint

pyupgrade:
  name: pyupgrade
  description: Upgrades syntax for modern versions of Python.
  entry: pyupgrade
  language: system
  args:
  - --py310-plus

isort:
  name: isort
  description: A Python utility that sorts imports alphabetically.
  entry: isort
  language: system

autoflake:
  name: autoflake
  description: Removes unused imports and unused variables from Python code.
  entry: autoflake
  language: system

flake8:
  name: Flake8
  description: Python Style Guide Enforcement.
  entry: flake8 --config .flake8
  language: system

black:
  name: Black
  description: Uncompromising Python code formatter.
  entry: black
  language: system

yamllint:
  name: yamllint
  description: Lint YAML files.
  entry: yamllint
  language: system

chore: update test harness for Python 3.10
  .github/workflows/ci.yml
  Makefile
  py310/poetry.lock
  py310/pyproject.toml
  shell.nix
Due: yamllint

chore: raise minimum version to Python 3.10
  poetry.lock
  pyproject.toml
Due: none

docs: update for Python 3.10
  CONTRIBUTING.md
  README.md
  examples/singlefile/README.md
  examples/splitfile/README.md
  examples/todoapp/README.md
Due: none

lint: check for supported syntax
  .pre-commit-config.yaml
  pyramid_openapi3/exceptions.py
  pyramid_openapi3/tests/test_permissions.py
  pyramid_openapi3/tests/test_validation.py
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black, yamllint

Specify spec as absolute path reference instead of absolute URI
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black

Revert "Protocol and port control"
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black

fix broken py39 env on macOS, refs #236
  RELEASE.md
  py310/poetry.lock
Due: none

release 0.19
  py310/poetry.lock
  py310/pyproject.toml
  pyproject.toml
Due: none

fix for mounted apps
  pyramid_openapi3/wrappers.py
Due: pyupgrade, isort, autoflake, flake8, black

lint with black
  pyramid_openapi3/wrappers.py
Due: pyupgrade, isort, autoflake, flake8, black

update the tests
  pyramid_openapi3/tests/test_wrappers.py
  pyramid_openapi3/wrappers.py
Due: pyupgrade, isort, autoflake, flake8, black

fix(extract_errors): fix wrong field being emitted when extracting several errors for a same object
  pyramid_openapi3/exceptions.py
  pyramid_openapi3/tests/test_extract_errors.py
Due: pyupgrade, isort, autoflake, flake8, black

release 0.19.1
  py310/pyproject.toml
  pyproject.toml
Due: none

support custom swagger config, oauth config, and the swagger oauth2-redirect html
  pyramid_openapi3/__init__.py
  pyramid_openapi3/static/index.html
  pyramid_openapi3/static/oauth2-redirect.html
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black

allow the app to be hosted at a prefix in script_name but still validate against allowed servers
  pyramid_openapi3/tests/test_validation.py
  pyramid_openapi3/tests/test_wrappers.py
  pyramid_openapi3/wrappers.py
Due: pyupgrade, isort, autoflake, flake8, black

Update pyramid_openapi3/tests/test_views.py
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black

release 0.20.0
  py310/pyproject.toml
  pyproject.toml
Due: none

fix html syntax error after refactoring swagger-ui explorer
  pyramid_openapi3/static/index.html
Due: none

release 0.20.1
  py310/pyproject.toml
  pyproject.toml
Due: none

Add support for CSP nonce
  README.md
  pyramid_openapi3/__init__.py
  pyramid_openapi3/static/index.html
  pyramid_openapi3/tests/test_views.py
Due: pyupgrade, isort, autoflake, flake8, black

release 0.21.0
  py310/pyproject.toml
  pyproject.toml
Due: none

jsonschema_path.SchemaPath: 'contents' method is deprecated. Use 'read_value' instead.
  pyramid_openapi3/__init__.py
Due: pyupgrade, isort, autoflake, flake8, black

up `openapi-core` cos `jsonschema-path` capped there
  pyproject.toml
Due: none

poetry lock: update openapi-core
  poetry.lock
Due: none

fix: Validate responses without unmarshalling
  pyramid_openapi3/__init__.py
  pyramid_openapi3/tween.py
Due: pyupgrade, isort, autoflake, flake8, black

chore: modernize dev linters and fix new findings
  poetry.lock
  pyramid_openapi3/exceptions.py
  pyramid_openapi3/tests/test_path_parameters.py
  pyramid_openapi3/tests/test_routes.py
Due: pyupgrade, isort, autoflake, flake8, black

fix: pin mypy<1.19 to keep poetry2nix CI working
  poetry.lock
  pyproject.toml
Due: none

chore: modernize dev linters and fix new findings (#307)
  poetry.lock
  pyproject.toml
  pyramid_openapi3/exceptions.py
  pyramid_openapi3/tests/test_path_parameters.py
  pyramid_openapi3/tests/test_routes.py
Due: pyupgrade, isort, autoflake, flake8, black

build: modernize Nix base to nixos-25.11 and current poetry2nix
  shell.nix
Due: none

build: switch dev environment to uv, drop poetry2nix
  Makefile
  poetry.lock
  poetry.toml
  py310/poetry.lock
  py310/pyproject.toml
  pyproject.toml
  shell.nix
  uv.lock
Due: none

build: convert to nixfmt
  .pre-commit-config.yaml
  shell.nix
Due: yamllint

Path conditions:
  pyupgrade: any of: \.py$
  isort: any of: \.py$
  autoflake: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
